
@import "./../../../../styles/colors";
@import "./../../../../styles/fonts";

.pagination {
    width: 50%;
    height: 50px;
    border: 2px dotted black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    button{
        width: 90px;
        height: 30px;
        font-family: 'Secular One', sans-serif;
        background-color: #deb22d;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
  }
  