@import "./../../../styles/colors";
@import "./../../../styles/fonts";

.bookDetails {
  min-height: 300px;
  width: 100%;
  background-color: $white_1;
  margin-top: 30px;
  margin-bottom: 20px;
  border-top: 2px dashed $yellow_8;
  border-bottom: 2px dashed $yellow_8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

.bookDetailsTable {
  border: 1px solid black;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid black;
    min-height: 40px;
    max-width: 170px;
    min-width: 170px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Piazzolla', serif;
  }
}
}