@import "./../../../../styles/colors";
@import "./../../../../styles/fonts";

.charactersTable {
  border: 1px solid black;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid black;
    min-height: 40px;
    max-width: 170px;
    min-width: 170px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Piazzolla', serif;
  }
}
